.swm .content-table {
  font-size: 14px;
}

.swm .active .link {
  color: #fff;
}


.swm .list-group-item {
  padding: 0;
}

.swm .link {
  display: block;
  padding: 6px 8px;
  text-decoration: none;
  font-size: 14px;
  color: var(--bs-body-color);
}

.swm .rank1 > td {
  color: #5882FA !important;
}

.swm .rank2 > td {
  color: #ebb600 !important;
}

.swm .rank3 > td {
  color: #60bb60 !important
}